.main{
  height: 800px;
  
}

.sidebar{
  height: 800px;
  background-color: black;
}

.content{
  height: 800px;
  background-color: gainsboro;
}

.menu ul li{
  color: white;
  list-style: none;
 margin-top: 20px;
 padding: 10px;
 font-size: 25px;
}

.menu ul li:hover{
  background-color: gainsboro;
  border-radius: 10px;
}

.cart{
  height: 60px;
  width: 150px;
  background-color: green;
}

.tablemy{
  border: 1px solid black;
}